.flag-icon {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.flag-icon ng-include svg {
  margin-top: -15px;
}

td > .flag-icon ng-include svg {
  margin-top: -25px;
}

.flag-icon-kg {
  background-image: url(../flags/4x3/kg_.svg);
}

/*
.flag-icon-ae,
.flag-icon-at,
.flag-icon-bd,
.flag-icon-be,
.flag-icon-bg,
.flag-icon-bw,
.flag-icon-ch,
.flag-icon-cl,
.flag-icon-co,
.flag-icon-cz,
.flag-icon-de,
.flag-icon-dk,
.flag-icon-ee,
.flag-icon-fi,
.flag-icon-fr,
.flag-icon-gh,
.flag-icon-hu,
.flag-icon-id,
.flag-icon-ie,
.flag-icon-is,
.flag-icon-it,
.flag-icon-jp,
.flag-icon-lv,
.flag-icon-lu,
.flag-icon-ng,
.flag-icon-nl,
.flag-icon-no,
.flag-icon-pl,
.flag-icon-se,
.flag-icon-sn,
.flag-icon-ro,
.flag-icon-ru,
.flag-icon-th,
.flag-icon-ua {
  background-image: none;
}

.flag-icon {
  background-image: none;
}

.flag-icon-ad {
  background-image: url(../flags/4x3/ad.svg);
}
.flag-icon-ar {
  background-image: url(../flags/4x3/ar.svg);
}
.flag-icon-bo {
  background-image: url(../flags/4x3/bo.svg);
}
.flag-icon-bt {
  background-image: url(../flags/4x3/bt.svg);
}
.flag-icon-ec {
  background-image: url(../flags/4x3/ec.svg);
}
.flag-icon-es {
  background-image: url(../flags/4x3/es.svg);
}
.flag-icon-gt {
  background-image: url(../flags/4x3/gt.svg);
}
.flag-icon-hr {
  background-image: url(../flags/4x3/hr.svg);
}
.flag-icon-ke {
  background-image: url(../flags/4x3/ke.svg);
}
.flag-icon-kh {
  background-image: url(../flags/4x3/kh.svg);
}
.flag-icon-lk {
  background-image: url(../flags/4x3/lk.svg);
}
.flag-icon-mx {
  background-image: url(../flags/4x3/mx.svg);
}
.flag-icon-my {
  background-image: url(../flags/4x3/my.svg);
}
.flag-icon-nz {
  background-image: url(../flags/4x3/nz.svg);
}
.flag-icon-pe {
  background-image: url(../flags/4x3/pe.svg);
}
.flag-icon-pt {
  background-image: url(../flags/4x3/pt.svg);
}
.flag-icon-rs {
  background-image: url(../flags/4x3/rs.svg);
}
.flag-icon-uy {
  background-image: url(../flags/4x3/uy.svg);
}
*/
