<div
  ng-if="e.fig[0].length <= 1"
  ng-style="{'color': e.fig[1], 'background-color': e.fig[2]}"
  style="display: inline-block;"
>
  {{ e.fig[0] }}
</div>

<img
  ng-if="e.image"
  ng-src="images/{{ e.imagePlaceholder || e.image }}"
  ng-class="e.imageClass"
  ng-style="e.imageStyle(img_style) || img_style"
  title="{{ e.title }}"
/>

<img
  ng-if="e.image2"
  ng-src="{{ e.imagePlaceholder || e.image2 }}"
  ng-class="e.imageClass"
  ng-style="e.imageStyle(img_style) || img_style"
  title="{{ e.title }}"
/>

<ng-include src="'html/svg.html'" ng-if="!e.image2"></ng-include>

<ng-include
  src="'html/bollard/bollard.html'"
  class="bollard"
  ng-if="e.file=='bollards.yml' && !e.image2"
></ng-include>

<div ng-if="e.figure" ng-style="e.figure.style">
  {{ e.figure.content }}
</div>
