<div
  class="filter"
  ng-class="[
    e.selected ? 'selected': '',
    'match_ratio' + e.match_ratio,
    'match' + e.match,
    !e.selected && e.match == flags.length ? 'full_match': '',
    'level' + (e.level || 1)
  ]"
  ng-style="e.style"
  ng-click="selectFilter(e);"
  ng-mouseover="mouseOverFilter(e);"
  ng-mouseleave="mouseLeaveFilter(e);"
  title="{{ e.title || e.image || e.image2 }}"
>
  <span>
    <span class="text" ng-if="e.name">{{ e.name }}</span>
    <ng-include
      class="figure"
      src="'html/figure.html'"
      ng-repeat="e in [e.fig && e.fig.type ? e.fig: e]"
      ng-init="img_style = {'max-width': e.width || 48, 'max-height': e.width || 48}"
    ></ng-include>
  </span>
  <div class="filter_count" ng-class="['count' + e.isos.split(',').length]">
    <div class="inner_filter_count">
      <span ng-repeat="ee in e.isos.split(',')"></span>
    </div>
  </div>
</div>
