<div class="container">
  <div
    class="char level1"
    ng-repeat="e in levels1"
    ng-click="selectLang(e);"
    ng-class="[e.selected ? 'selected': '', 'count' + e.count, 'match_ratio' + e.match_ratio, 'match' + e.match, !e.selected && e.match == flags.length ? 'full_match': '']"
  >
    {{ e.value }}
  </div>
  <div
    class="char level2"
    ng-repeat="e in levels2"
    ng-click="selectLang(e);"
    ng-class="[e.selected ? 'selected': '', 'count' + e.count, 'match_ratio' + e.match_ratio, 'match' + e.match, !e.selected && e.match == flags.length ? 'full_match': '']"
  >
    {{ e.value }}
  </div>
  <div
    class="char level3"
    ng-repeat="e in levels3"
    ng-click="selectLang(e);"
    ng-class="[e.selected ? 'selected': '', 'count' + e.count, 'match_ratio' + e.match_ratio, 'match' + e.match]"
  >
    {{ e.value }}
  </div>
</div>
<div
  class="filter"
  ng-class="[e.selected ? 'selected': '', e.inverted ? 'inverted': '', 'match_ratio' + e.match_ratio,
    'match' + e.match, !e.selected && e.match == flags.length ? 'full_match': '', e.complement ? 'complement': '']"
  ng-repeat="e in filters"
  ng-style="e.style"
  ng-click="selectGroup(e);"
>
  <span>
    <span class="text" ng-if="e.name">{{ e.name }}</span>
    <ng-include
      src="'html/figure.html'"
      ng-repeat="e in [e.fig && e.fig.type ? e.fig: e]"
      ng-init="img_style = {'max-width': e.width || 48, 'max-height': e.width || 48}"
    ></ng-include> </span
  ><span
    ng-click="selectGroup(e, true);"
    class="complement text"
    ng-if="e.complement"
    >{{ e.complement }}</span
  >
  <div class="filter_count" ng-class="['count' + e.isos.split(',').length]">
    <div class="inner_filter_count">
      <span ng-repeat="ee in e.isos.split(',')"></span>
    </div>
  </div>
</div>
<span style="float: right;">
  Search text:
  <input
    type="text"
    ng-model="search_text"
    ng-change="updateSearchText(search_text);"
  />
</span>
