<div class="mycontainer" style="min-height: 130px;">
  <ng-include
    src="'html/char.html'"
    ng-repeat="e in levels1"
    ng-init="level = 1"
  ></ng-include>
  <ng-include
    src="'html/char.html'"
    ng-repeat="e in levels2"
    ng-init="level = 2"
  ></ng-include>
  <ng-include
    src="'html/char.html'"
    ng-repeat="e in levels3"
    ng-init="level = 3"
  ></ng-include>
  <ng-include
    src="'html/filter.html'"
    ng-repeat="e in languages.groups"
  ></ng-include>
</div>
<ng-include src="'html/filter.html'" ng-repeat="e in filters"></ng-include>
<div style="float: right; display: inline-block; padding: 10px;">
  <input
    type="text"
    ng-model="$scope.search_text"
    ng-change="updateSearchText($scope.search_text);"
    class="form-control"
    placeholder="Search text or iso code"
    style="display: inline-block; width: 200px;"
  />
  <div class="btn-group">
    <div
      class="btn"
      ng-repeat="e in [1,2,3]"
      ng-class="level == e ? 'btn-primary': 'btn-link'"
      ng-click="updateLevel(e);"
    >
      <b>{{ e }}</b> ({{ levelsFilterCount[e] }})
    </div>
  </div>
  <button
    class="btn btn-primary"
    style="font-size: 16pt;"
    ng-click="resetFilters();"
  >
    Reset all filters
  </button>
</div>
