<tr ng-repeat="iso in flags" ng-if="flags.length < 20">
  <td><span class="flag-icon" ng-class="'flag-icon-' + iso"></span></td>
  <td>{{ commercialTlds[iso] || iso }}</td>
  <td class="names">{{ countries[iso][0] }}</td>
  <td class="names">{{ countries[iso][1] }}</td>
  <td>
    <span ng-if="sumWeight > 0"
      >{{ weightFlags[iso]/sumWeight*100|number:0 }}%</span
    >
  </td>
  <td class="">{{ texts[iso].join(" ") }}</td>
  <!--
          <td>{{ tips[iso] }}</td>
          -->
  <td class="signs">
    <span ng-repeat="e in signs[iso]" ng-if="e.svg[0] != 'turn'">
      <ng-include
        src="'html/figure.html'"
        ng-init="img_style = {height: 72}"
      ></ng-include>
    </span>
    <span
      ng-repeat="e in filtersByCountry[iso]"
      ng-class="[e.selected ? 'selected': '']"
    >
      <ng-include
        src="'html/figure.html'"
        ng-init="img_style = {height: 72}"
        ng-repeat="e in [e.fig && e.fig.type ? e.fig: e]"
      ></ng-include>
    </span>
  </td>
  <td class="alpha">{{ languages.charsets[iso] }}</td>
</tr>
