<div
  class="button"
  ng-click="toggledClasses[item.key] = !toggledClasses[item.key]"
  ng-class="toggledClasses[item.key] ? 'selected': ''"
  ng-repeat="item in toggles"
>
  {{ item.name }}
  <img
    ng-src="images/{{ item.imagePlaceholder || item.image }}"
    ng-class="item.imageClass"
    ng-style="item.imageStyle({height: 48}) || {height: 48}"
    ng-if="item.image"
  />
  <img ng-src="{{ item.image2 }}" style="height: 48px;" ng-if="item.image2" />
</div>
<div
  class="button"
  ng-click="toggledClasses.turn = !toggledClasses.turn"
  ng-class="[toggledClasses.turn ? 'selected': '']"
>
  <ng-include
    ng-init="e = { svg: ['turn', 'white', 'gray'] }"
    src="'html/figure.html'"
  ></ng-include>
</div>
